.label {
    font-weight: 600;
    color: #c6c6c6;
}

.phonetic {
    font-weight: 600;
    color: #c6c6c6;
}

.item {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    .starIcon {
        position: absolute;
        left: 5px;
        top: 5px;
        color: #12f793;
    }
    .infoIcon {
        position: absolute;
        right: 2px;
        top: 5px;
        color: #ccc;
    }
    .deleteIcon {
        position: absolute;
        right: 2px;
        bottom: 5px;
        color: red;
    }
    .title {
        margin-bottom: 8px;
    }
    .content {
    }
}

.activeItem {
    border-color: #1677ff;
}

.keyword {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.drawer {
    background-color: #001529;
    :global(.ant-drawer-body) {
      padding: 5px;
    }
}

.content,
.drawer {
    :global(.ant-input::placeholder) {
        color: rgba(255, 255, 255, 0.65);
        background-color: #001529;
    }
    :global(.ant-modal-header),
    :global(.ant-modal-content),
    :global(.ant-modal-title) {
        color: rgba(255, 255, 255, 0.65);
        background-color: #001529;
    }

    :global(.ant-btn-default.ant-btn-dangerous:disabled),
    :global(.ant-btn-primary:disabled),
    :global(.ant-btn-primary.ant-btn-background-ghost:disabled) {
        color: #a8a8a8;
        background-color: white;
    }

    :global(.ant-modal-close) {
        color: rgba(255, 255, 255, 0.65);
    }

    /* 进度条全局样式 */
    :global(.ant-modal-body) {
        overflow: hidden;
        overflow-y: auto;
    }
    :global(.ant-modal-body::-webkit-scrollbar) {
        /*滚动条整体样式*/
        width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
        height: 3px;
    }
    :global(.ant-modal-body::-webkit-scrollbar-thumb) {
        /*滚动条里面小方块*/
        border-radius: 0.5rem;
        background: white;
    }
    :global(.ant-modal-body::-webkit-scrollbar-track) {
        /*滚动条里面轨道*/
        border-radius: 0.5rem;
        background: #001529;
    }

    :global(.ant-form-item) {
        margin-bottom: 10px;
    }

    :global(.ant-form-item-label > label) {
        color: rgba(255, 255, 255, 0.65);
    }

    :global(.ant-input) {
        padding-right: 20px;
    }

    :global(.ant-input-affix-wrapper),
    :global(.ant-input),
    :global(.anticon.ant-input-clear-icon),
    :global(.ant-btn),
    :global(.ant-radio-button-wrapper),
    :global(.ant-select-selector.ant-select-selector),
    :global(.ant-picker),
    :global(.ant-picker-input > input),
    :global(.ant-picker-suffix),
    :global(.ant-picker-clear) {
        color: rgba(255, 255, 255, 0.65);
        background-color: #001529;
    }
    :global(.ant-switch) {
        background-color: #4b4646;
    }
    :global(.ant-btn:hover) {
        color: #1890ff;
    }
    :global(.ant-switch-checked),
    :global(.ant-btn-primary) {
        background-color: #1890ff;
        color: white;
    }
    :global(.ant-btn-primary.ant-btn-dangerous) {
        background-color: #ff4d4f;
    }
    :global(.ant-radio-button-wrapper-checked) {
        color: white !important;
    }
}

.scrollArea {
    display: block;
    width: 100%;
    height: calc(100vh - 257px);
    overflow-y: auto;
}

.list {
    width: 100%;
    height: calc(100vh - 249px);
    overflow-y: auto;
}

.btnMask {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
