.drawer {

    :global(.ant-drawer-content),
    :global(.ant-drawer-header),
    :global(.ant-drawer-title),
    :global(.ant-radio-button-wrapper),
    :global(.ant-drawer-body),
    :global(.ant-drawer-footer) {
        color: #a6adb4;
        background-color: #001529;
    }

    :global(.ant-drawer-title) {
        font-size: 14px;
    }

    :global(.ant-drawer-header) {
        padding: 12px 16px;
        border-color: white;
    }

    :global(.ant-drawer-body) {
        padding: 12px;
    }
}