.pool span {
    vertical-align: middle;
}

.h2 {
    display: flex;
    justify-content: space-between;
}

.list > div {
    margin-bottom: 10px;
}

.category {
    margin-right: 5px;
    padding: 0 1px;
    font-size: 10px;
    border-radius: 4px;
}

.icon {
    vertical-align: middle;
    margin-left: 5px;
}