.my_drawer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 3;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.drawer_box {
    width: 100vw;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    color: #a6adb4;
    background-color: #001529;
    z-index: 2;
}

.title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.content {
    word-break: break-all;
    white-space: pre-wrap;
}
