.modalName {
    // display: inline-block;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // width: 100%;
}

.operator {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    margin-left: 10px;
    width: 100%;
}

.descList {
    .desc {
        white-space: pre-wrap;
        word-break: break-all;
        border-bottom: 1px solid #cccccc80;
        box-sizing: border-box;
        padding: 5px;
        &:last-child {
            border-bottom: none;
        }
    }
}